html {
    background-color: gray;

}

body {
    text-align: center;
    margin: 0 320px;
    padding: 0px; 
    min-height: 300vh; 
    box-shadow: 0 0 50px rgba(0, 0, 0, 1);
}

h1 {
    font-size: 40px;
    font-family: Georgia, sans-serif; 
    text-align: left; 
    margin: 0;
    padding: 50px;
}

h2 {
    text-align: center;
    margin: 80px;
    padding: 0 100px; 
    font-family: Arial, sans-serif; 
    font-size: 25px;
    padding-bottom: 0px;

}


p {
    padding-top: 0px;
    padding-right: 40px; 
    font-size: 18px;
    font-family: Verdana, sans-serif; 
    text-align: right;

}

button {
    background-color: #3498db;
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 30px;
    margin-right: -4px;

}